.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 410px;
  padding: 30px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  background-image: url(./pexels-pixabay-531880.jpg);
  background-size: cover;
}
.container .text{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}
.container form{
  margin-top: -20px;
}
.container form .data{
  height: 45px;
  width: 100%;
  margin: 40px 0;
}
.data label{
  font-size: 20px;
}
.data input, .data textarea{
  height: 100%;
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  border: 1px solid silver;
  outline: none;
}
.data input:focus{
  border-color: #3498db;
  border-bottom-width: 2px;
}
 .btn{
  margin: 30px 0;
  height: 45px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
 .btn .inner{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  z-index: -1;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  transition: all 0.4s;
}
 .btn:hover .inner{
  left: 0;
}
 .btn button, .btn a{
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

a{
  text-decoration: none;
}

.Nav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: transparent;
  color: white;
  overflow-x: hidden;
}

.Nav h1{
  margin: 0;
  color: #818181;
  padding: 8px 8px 8px 32px;
  font-size: 25px;
}

.Nav ul{
  margin: 0;
  padding: 0;
}

.Nav ul li {
  list-style: none;
  padding: 8px 8px 8px 32px;
  font-size: 25px;
  color: #818181
}

.Nav ul li:hover, .Nav h1:hover{
  color: #f1f1f1;
}

.datas{
  text-align: center;
}